
	
	.ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	
	.li {
		float: left;
	}
	
	.li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}



#boxes {
	background: #ffffff;
	padding: 20px ;
	color: #4aaaa5;
	box-sizing: border-box;
	border-style: #cccccc;
	border: 20px;
		text-align: left;
	font-family: times;
	font-size: 24px;
}

#bio {
	background: #ffffff;
	padding: 20px ;
	color: #777777;
	box-sizing: border-box;
	border: 20px;
	border-style: #cccccc;
	text-align: rightt;
	font-family: Arial;
	font-size: 18px;
}

p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	word-wrap: normal;
	}


#col-me {
		float: left;
		width: 40%;
		height: 200px;
		margin-bottom: 10px;
		background: #636161;
	}

	#col-right {
			float: right;
			width: 40%;
			margin-bottom: 10px;
			background: #636161;
	}

	#section {
		float: left;
		width: 58%;
		height: 200px;
		margin-bottom: 10px;
		background: #D8D4D4;
	  }

	  footer {
		clear: both;
		padding: 20px;
		margin-top: 20px;
		color: #666666;
		background: #D8D4D4;	
	  }

